html{
 font-family: 'Sintony', sans-serif;
 font-size: 16px;
}

body{
 font-family: 'Sintony', sans-serif;
}


/*div{
  border: 1px solid red;
}*/

h1{
  font-size: 2.75rem;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
  opacity: 0.8;
}

p{
  color: #4A4A4A;
  line-height: 1.5;
}

/*navigation*/
.navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  height: 4rem;
  border-bottom: 2px solid #09ACC4;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05);
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;

}

.navigation .logo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
  margin-left: 1.5rem;
  margin-right: auto;
}

.logo img{
  height: 3rem;
  width: auto;
}

.logo span{
  font-size: 1.5rem;
}

#colmar{
  color: #3B5A9A;
  font-weight: bold;
}

#academy{
  color: #A3ACB5;
}

.navigation nav{
  margin-right: 1.5rem;
  margin-left: auto;
}

.navigation nav span{
  font-size: 1.125rem;
  padding-left: 1rem;
  padding-right: 0;
  color: #A3ACB5;
}

.body{
  position: relative;
  top: 4rem;
}

/*banner*/
.banner{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #3B5A9A;
}

.banner .image{
  width: 60%;
  margin: 3rem 2rem 3rem 1.5rem;
}

.banner .image img{
  width: 100%;
  height: auto;
}

.banner .text{
  margin-left: 0;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}

.banner .text h2{
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  color: #ffffff;
  opacity: 0.8;
}

#start{
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #09ACC4;
  border-radius: 0.25rem;
}

#start p{
  font-size: 1.125rem;
  font-weight: bold;
  color: #3B5A9A;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#start p:hover,
#start:hover{
  background-color: #09ACC4;
  color: #ffffff;
}

/*information*/
.info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main{
  width: 60%;
  margin-right: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1.5rem;
}

.info .main img{
  width: 100%;
  height: auto;
}

.main h1{
  color: #3B5A9A;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#quote{
  margin-top: 2rem;
  color: #A3ACB5;
  font-size: 0.75rem;
}

.more{
  width: 40%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.moreinfo{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.more .image{
  width: 35%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.moreinfo.top .image{
  margin-top: 0;
}

.more .image img{
  width: 100%;
  height: auto;
}


.moreinfo .text{
  width: 65%;
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 1rem;
}

.main p,
.more .text p{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.moreinfo span{
  color: #09ACC4;
}

.moreinfo span:hover{
  color: #3B5A9A;
}

.moreinfo.second{
  background-color: #f0f0f0;
}


/*start learning*/
.majors{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  background-color: #6A98D6;
  padding-bottom: 1rem;
}

.row{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  justify-content: center;
  margin-bottom: 3rem;
}

.majors h1{
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.major{
  display: inline-block;
  background-color: #ffffff;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 30%;
}

.major .image{
  width: 100%;
  height: auto;
}

.major .image img{
  width: 100%;
  height: auto;
}

.major .text{
  padding: 1rem 1rem 1.5rem 1rem;
}

.major #courses{
  color: #A3ACB5;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/*Thesis exhibit*/
#thesis{
  color: #3B5A9A;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 0;
}

.main video{
  width: 100%;
  height: auto;
}

.fisma,
.nowandthen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nowandthen{
  background-color: #f0f0f0;
}

/*footer*/
.footer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  padding-bottom: 4rem;
}

.footer span{
  margin-left: 1.5rem;
}

.footer nav{
  margin-right: 1.5rem;
  margin-left: auto;
  margin-top: 2rem;
}












@media only screen and (max-width:1024px) and (orientation:portrait){
  .banner{
    display: block;
    height: auto;
    padding-bottom: 3rem;
  }

  .banner .image{
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
  }

  .banner .text{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .banner .text h2{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  #start{
    width: 100%;
  }

  .info{
    display: block;
    width: 100%;
  }

  .main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .more{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }




}

@media only screen and (max-width:470px) and (orientation: portrait){

}
